[2020-10-05 18:56] SamGuay opened #1 "Include instruction to run it locally"
So happy to see the _paper_ take form! :rocket:

I think it would be great to have some a nice README.md with the instruction on how to deploy the book locally so folks can also play with it.

I like how [The Turing Way](https://github.com/alan-turing-institute/the-turing-way/tree/master/book) folks have done it, and I'm sure it can easily be adapted for our purpose.

[2020-10-18 20:29] complexbrains opened #2 "Needing a contributor guideline?"
If this is needed I will start a draft going while we work on the content based on the [Turing way's contribution guideline](https://github.com/alan-turing-institute/the-turing-way/blob/master/CONTRIBUTING.md#referencing-and-citing) and some others. So I will assign it to myself, anyone who wants to help (I believe I will need help for the technical aspects) more than welcomed.

[2020-10-18 20:35] complexbrains opened #3 "Code of Conduct for the Book"
I believe again we will need something to get going. I am guessing the [CoC](https://hackmd.io/A97k1-9TRnqq0TfoFMtKUA) @anibalsolon created for Freesurfer BIDS-Apps should be a good starting point and we can develop more on that as necessary. I am self assigning myself again and pinging @SamGuay if he wants to add more to that from the [CoC](https://docs.google.com/document/d/11aE6vv67i9pzOUN7DTyp

[2020-10-23 23:22] complexbrains commented on #1
I started a [README.md](https://hackmd.io/VLt2DImnTWa8HQaMD7_OcQ) get going based on The Turing Way's and some other samples I found. Since I was not keen on the technical bits, I guess it requires your attention for sure, but I will work on the rest of the content and will make it more user-friendly.  Do you think would it be a starting point?

[2020-12-06 19:03] Remi-Gau opened #6 "Glossary: unconference"
In case this helps adding some definitions

Taken from the Craddock 2016 paper that already includes some terms.

[2021-01-21 23:00] shawnrhoads opened #8 "Landing page (for preprint submission)"
The Jupyter Book should feature a landing page containing the figures and information about the manuscript and Jupyter Book.

[2021-01-21 23:01] shawnrhoads opened #9 "Acknowledgements page (for preprint submission)"
The Jupyter Book should feature an acknowledgments page containing information about Brainhack event sponsors (read from a .csv file).

[2021-01-21 23:02] shawnrhoads opened #10 "Contributors page (for preprint submission)"
The Jupyter Book should feature a contributors page containing a table with authorship information (read from a .csv file).

[2021-01-21 23:08] shawnrhoads opened #11 "Glossary page (for preprint submission)"
Continue adding content to the Jupyter Book glossary, which will be referenced in the manuscript.

[2021-01-21 23:19] vborghe commented on #11
@complexbrains (and everyone else!) what do you think if we do most of the typing [here](https://docs.google.com/document/d/1tksdcak_WasYs_wF3VRULJDzJz550hg4KA3xJY6B1kM/edit?usp=sharing) - so it is very accessible and comments/additions are fast - then we copy&paste&PR once in a while (i.e. for substantial changes)?

I am starting by making sure all the terms referred to in the manuscript are ther

[2021-01-21 23:26] #6 closed

[2021-01-21 23:26] vborghe commented on #6
'cause of #11 (and note taken [here](https://docs.google.com/document/d/1tksdcak_WasYs_wF3VRULJDzJz550hg4KA3xJY6B1kM/edit))

[2021-01-22 00:11] katjaq commented on #9
Thanks so much for setting this up so nicely @shawnrhoads and for taking a lead on that huge work together @htwangtw ✨ this is awesome! One thought (sorry I didn't think of that earlier: The current structure of the acknowledgements is first 1 paragraph of text which should remain this paragraph of text (no table); then second paragraph
"These include (in alphabetical order):"
and this is where @R

[2021-01-22 00:33] shawnrhoads commented on #9
Re adding the first paragraph: Sounds great @katjaq! (I guess minus the sentence about the Jupyter Book though). How about this?

Re table: I've written a script to organize the list of acknowledgments into an [acknowledgments.csv file](https://github.com/shawnrhoads/brainhack_jupyter_book/blob/update-acknowledgments/data/acknowledgments.csv) with two columns. Right now the columns are: ['Sponsor'

[2021-01-22 01:35] katjaq commented on #9
good point :D

Yes, but if the first sentence goes away, "to these resources" does not have a relation anymore. It could be formulated as "to the resources included in this Jupyter book." or "to the insights and resources included in this Jupyter book." or something else :)
otherwise, green light for the PR from my side. :)

woowww! you guys ✨ 🚀  Fantastic! Thanks again !

[2021-01-22 03:18] katjaq commented on #8
Hey! Thanks for creating this issue and adding info on what is needed @shawnrhoads ✨
We'll try to address it asap :)

[2021-01-22 20:11] shawnrhoads commented on #9
Great!

@htwangtw Do you want me to add an initial .md or .ipynb file with those edits to the first paragraph and a Markdown-style table that contains the info (only doesn't read it from a .csv file yet) for the time being? Alternatively, I can just add the acknowledgments.csv file. Let me know what will make your part easiest! 😄

[2021-01-22 20:44] htwangtw commented on #9
Congrats on moving so fast on sorting out the acknowledgements!!! Add the data will be enough for now 🙂

[2021-01-22 23:55] shawnrhoads commented on #9
Submitted a PR (#12) with the data!

Didn't add the code, but for future reference/reproducibility: I used the `pandas` and `re` packages in Python to split the original list (with entries separated by newlines) into two columns using regex pattern matching.

[code]

Then, I just reviewed to edit out any extra spaces/brackets that might have been in the list (I also added these revisions to the [m

[2021-01-23 00:30] complexbrains commented on #11
Sure dear @vborghe whatever makes it easier for anyone to contribute indeed. Actually I also started with a doc later converted it to the md. I also went over all the long 1st draft carefully to make sure we do not miss any words but now it is easier given the page number hopefully we should be covering many terminologies but some might have added I was not aware of.

Please let me know if I can h

[2021-01-23 17:01] htwangtw commented on #9
See PR (#14) for the current basic acknowledgements page and the markdown table parser!
I would like some feedback to see if the formatting of the table is okay.

[2021-01-23 17:04] htwangtw commented on #10
I have written a basic markdown table generator, see PR #14.
The contributor table might need a bit more tweaking.
 It is going to be a wider table, I will have an update once I have a draft version.

[2021-01-23 17:26] shawnrhoads opened #15 "Fix deploy-book action"
The github action `deploy-book` times out / no longer builds the Jupyter Book upon merging to `main`.

Looks like timing out first occurred after [the commit adding the issue templates](https://github.com/brainhackorg/brainhack_jupyter_book/commit/2210fc66f3b3d5fd1ee690ab794798844eaf7506) under `.github/ISSUE_TEMPLATE/`. However, it doesn't make sense that adding the templates would be cause of th

[2021-01-23 19:33] PeerHerholz commented on #15
Hi @shawnrhoads,

yeah, I was about to propose the same. IIRC `pip` changed the way things are resolved upon installing/downloading stuff.
Definitely +1 from my side!

[2021-01-23 19:48] shawnrhoads commented on #15
Cool, I can likely put something together if you think it would be helpful! Feel free to assign me if so!

[2021-01-23 20:48] PeerHerholz commented on #15
Done, merci!

[2021-01-24 19:44] #15 closed

[2021-01-24 20:26] htwangtw commented on #10
![image](https://user-images.githubusercontent.com/13743617/105642388-4ec11180-5e81-11eb-83b9-3a752cbc06eb.png)

Here's a corner of the output from my markdown table generator with the contributor info spreadsheet from @Remi-Gau.
The headers can be a bit long, and the table is really wide. I am thinking of collasping some information such as name and affiliations for the online version.

Another i

[2021-01-25 17:22] Remi-Gau commented on #10
Am tempted to say that we can drop the affiliation 2 and 3

[2021-01-25 17:24] Remi-Gau commented on #9
My. I might finally learn some python.

[2021-01-25 17:41] htwangtw commented on #10
Yeah that would be an easy solution for the upcoming preprint.

[2021-01-25 17:42] htwangtw commented on #9
I mostly want to know if the markdown output is sufficiently pretty. No pressure for anything else @Remi-Gau

[2021-01-25 19:33] shawnrhoads opened #18 "File naming convention and organization of Jupyter Book for long-term maintenance"
Let's determine a file naming convention for long-term maintenance of the Jupyter Book and decide how to organize the TOC in time for the preprint/NeuroView submission. [See comment](https://github.com/brainhackorg/brainhack_jupyter_book/pull/13#pullrequestreview-574854814) for more information and see below for one suggestion:

[2021-01-25 21:33] htwangtw commented on #9
PR #14 merged

[2021-01-25 21:33] #9 closed

[2021-01-25 22:10] htwangtw commented on #10
I have created PR #20 for people to have a look @Remi-Gau
It might be easier to build the book locally to have a better idea.

[2021-01-26 21:39] #11 closed

[2021-01-26 21:39] vborghe commented on #11
Closed by #21 - which covers all terms for the preprint - further changes can be made via PR/issues

[2021-01-30 11:01] htwangtw commented on #10
Resolved by PR #20

[2021-01-30 11:01] #10 closed

[2021-02-05 22:34] htwangtw commented on #1
I have been doing a lot of local builds to test my edits - here are some relevant points from the top of my head. If someone can turn that into more user friendly content that will be super helpful.

---

1. create an virtual environment in your local copy and install related libraries with conda
[code]
Always activate this enviornment when you want to run stuff
[code]
I use `virtualenv` but curre

[2021-02-11 02:25] katjaq commented on #8
We are getting closer! :D  Just letting you know that we do plan to submit PR today (Thursday) with @anibalsolon and @yasminebassil :) \\\ö//

[2021-02-11 14:27] complexbrains commented on #2
I opened an issue in the Turing Way's repo for asking/letting them know regarding the use of the Contribution Guidelines of theirs which is [here](https://github.com/alan-turing-institute/the-turing-way/issues/1737) and haven't heard back. If you all think it is alright to go for it and modify we can start working on that immediately.

What do you think @Remi-Gau @SamGuay @yasminebassil @PeerHerho

[2021-02-11 14:36] htwangtw commented on #2
It would be great to get explicit permission from the Turing Way. Their contribution is very extensive.
I think it will be useful to have a TLDR starter pack on the side.
Anything that can help new contributors to onboard quickly, like create a fork, local build, simple PR, etc would be nice.
I am happy for you to take my stuff and possibly add some glitters. Mine reads pretty boring. I can help t

[2021-02-11 14:59] complexbrains commented on #2
Perfect 🤗

Actually, your idea is even better. So regarding starter pack then, what you would think of having something like this we developed with @PeerHerholz and @anibalsolon for [Freesurfer Recon-all BIDS App](https://docs.google.com/document/d/1xJ22Ekog7-BFB_3DqYMPsnFCfAtjoNWe4iEgcaDtoXc/edit?usp=sharing) which already covers a lot regarding git/github/forking and so on? Shall we tailor it to

[2021-02-11 15:07] SamGuay commented on #2
The _Turing Way's_ [LICENSE.md](https://github.com/alan-turing-institute/the-turing-way/blob/master/LICENSE.md) is CC-BY and clearly states:

That is the beauty of open licencing :)

[2021-02-11 15:11] complexbrains commented on #2
Sure sure, but @Remi-Gau and I was just thinking it is nice to let them know that we are looking up to their structure and would like to implement it. Just for the ecosystem itself and to show our respect and good will as always 🤗

[2021-02-11 15:27] SamGuay commented on #2
Yesyes! I was just saying it in the case they don't reply in time before the preprint and the book are made _public_ to be on the safe side :).

[2021-02-12 03:46] katjaq commented on #8
yeyyy, we just pushed PR #29 :D and tagged you #15

hope it finds you well! 😃

[2021-02-12 12:25] Remi-Gau opened #32 "Issue on page /preprint_authorship-agreement.html"
This page will have to be update to reflect the last decisions that were made on how authorships are organized

[2021-02-12 12:49] htwangtw opened #33 "Add all contributor bot to brainhack jupyter book"
I have added the bot and perhaps we can catch people's contributions related to this repo by replying to this issue for the time being.
Usage:
[code]
[List of labels](https://allcontributors.org/docs/en/emoji-key)

[2021-02-12 16:11] #8 closed

[2021-02-12 17:09] SNeuroble opened #34 "Onboarding newcomers to Jupyter Book"
We invite people to join the Jupyter efforts on the landing page but I just realized we don't really point them towards how they can join. Should we at least direct them to the Jupyter Book channel?

[2021-02-12 19:53] htwangtw opened #35 "Add Jupyter book and Binder to acknowledgement"
Making a note regarding the brilliant idea from @PeerHerholz  in PR#31
We can add Jupyter book and Binder to the acknowledgement table: `data/acknowledgments.csv`, or reference it in text!

[2021-02-13 15:11] htwangtw commented on #34
The best way to make it happen is probably updating the front page with a link to the Mattermost Channel (https://mattermost.brainhack.org/brainhack/channels/brainhack_paper_jupyterbook).
Any taker for a PR?

[2021-02-13 15:34] katjaq commented on #34
hello :) oopsi, obviously we hadn't thought this one to the end 🙃 Thanks for the suggestions.
Could be Mattermost; or just on GitHub via an issue? I made an issue template for questions – could be this one as well.

What do you think?

[2021-02-13 15:50] htwangtw commented on #34
The issue template is great for tracking people who know what they want to bring! The difficult kind to catch is people who are interested but not sure where to start, hence the suggestion of mattermost. After the reach out through mattermost, we will eventually ask them to submit an issue. Everything comes back to Github issues for progress tracking.
Another alternative is to add some onboarding

[2021-02-13 16:58] katjaq commented on #34
Sounds great! Thanks @htwangtw .
 I also love that you tagged it great first issue and invite new people to come and add the link(s) to Mattermost channel etc 💛 🚀
I do think that the onboarding in the readme should be there in addition! 🎉  💚  so we do our very best to make it easy for everyone 🥰 (contributors and maintainers 😊)

[2021-02-13 17:22] complexbrains commented on #2
[Here](https://docs.google.com/document/d/1IhMQSPZOBYOrJ1yd0_K0Uvd4vq0NyyZbknJav5DPArI/edit?usp=sharing) is the first initial draft I merged some bits from Turing Way's guideline and the other available ones. It is waiting care and help by you Jupyter book lovers and enthusiasts. Please help us with;

- [ ] Requires a nice introduction to be written
- [ ] Checking the links whether they are going

[2021-02-15 13:45] jsheunis commented on #33
@htwangtw just to check, adding contributions via all-contributor bot would be in parallel to allowing contributors to add themselves to the table in the Jupyter book itself? If that's the case and the latter is still required, I'll create a new issue to describe the proposed workflow and then we take it from there. Can you confirm if this sounds sensible?

[2021-02-15 15:15] SNeuroble commented on #34
Totally agree that having a link in both the landing page and readme and would be helpful! After we do that that, we may want to start thinking in the longer term about whether there should be some filter for bots etc.
Maybe for now breaking up the link like xxx [at] yyy would start to help.

[2021-02-15 15:36] Remi-Gau commented on #33
that was my understanding at least. :wink:

[2021-02-15 16:45] htwangtw commented on #33
@jsheunis Open your issue! If we can have all-encomposing solution I am happy to mark this as duplicate and kick the bot out :wink:

[2021-02-15 16:54] complexbrains commented on #34
I guess contribution guideline is the biggest part of it for people to onboard regarding what processes are done in the book and how to use simple tools to start contributing towards.

I wrote in the [related issue](https://github.com/brainhackorg/brainhack_jupyter_book/issues/2#issuecomment-778648649) well-designed issue templates are also very helpful for the new comers to know what type of info

[2021-02-15 17:06] SNeuroble commented on #34
I think there are two kinds of onboarding we're talking about: 1) looping people into the team _specifically on mattermost_, and 2) directing people how to contribute to the repo. This issue is specifically discussing the former while your issue discusses the latter. This issue's title could definitely have been more specific, so I'm updating it now.

In my opinion, this particular issue may be sl

[2021-02-15 18:41] jsheunis opened #38 "Add ability for new contributors to add themselves to the table of contributors in the Jupyter book"
**Is your feature request related to a problem? Please describe.**
Currently, new contributors have to be added manually to a static TSV file in OSF, which is then used to generate the table of contributors in the Jupyter book ([on this page](http://brainhack.org/brainhack_jupyter_book/contributors.html)). This table is generated via a Github Action workflow ([deploy-book](https://github.com/brain

[2021-02-15 20:56] jsheunis commented on #38
Ok, a few parts of this workflow are ready.

Here's the first version of the Tripetto form: https://tripetto.app/run/OV2ARNJVLP. It can be used as a standalone link, or we can perhaps embed it in the Jupyter book?

Then, the Integromat webhook setup is done, which received the submitted form information and adds a row to [this Google sheet](https://docs.google.com/spreadsheets/d/1Nxzpwtn3xJh1BiZVy

[2021-02-16 07:31] htwangtw commented on #38
If our monthly contributor grows to >300 I will be super happy :tada: Thanks for fleshing out so many details, I will close my issue as a duplicate.

My only concern is that adding google sheet, we will have information hosted on three different places (OSF, github, google sheet). The OSF part will be locked after the paper is published. I would prefer the option to have all information on GitHub

[2021-02-16 07:32] htwangtw commented on #33
Move the discussion to #38

[2021-02-16 07:32] #33 closed

[2021-02-16 09:43] jsheunis commented on #38
Ok, sounds good. So we can replace the step of creating a row in the google sheet with adding the contributor to all-contributors via a github comment (including the type of contribution)?

Regarding auto-deployment, the all-contributors bot's commit still needs to be merged, so there's still some manual intervention right? Or can this also be triggered with an action?

Also, if we want to build t

[2021-02-16 13:13] htwangtw commented on #38
I think everyone is taking part of this project for learning new things, including me!

Sounds good!

Good question. I see no harm to have that final step to be manual. I don't know if certain PR can be automated, but can look into it.

From what I know, all contributor bot doesn't support things more than user name and emoji labels, and we certainly don't want to write our own bot for this :laugh

[2021-02-16 18:37] yasminebassil commented on #34
Hello! Just seeing this now, but I wanted to chime in with some thoughts :)

I definitely agree that new people should be directed to join the Mattermost first, and that there should be a "Mattermost Onboarding" section in the ReadMe. This way, new people can be slowly introduced to the group via Mattermost and the different efforts/initiatives/channels that we have going on there. Then after that

[2021-02-16 20:47] htwangtw commented on #34
Please feel free to submit a PR @yasminebassil. I am happy to help just drop me a line on mattermost if you need.

[2021-02-16 21:07] SNeuroble commented on #34
Agreed—go for it and thank you, @yasminebassil ! 🙏🏽

[2021-02-21 17:59] r03ert0 opened #39 "Links to relevant wikipedia articles should be provided (or similar)"
Several entries in the glossary have corresponding articles in the wikipedia which provide further information, or more detailed definitions. It may be good to link them as much as possible.

[2021-02-23 08:14] willstrawson commented on #39
I'm happy to have a go at this :)

[2021-02-23 13:02] vborghe opened #42 "Translating Glossary to IT"
We are working on the Italian translation of the Glossary [here](https://docs.google.com/document/d/17oBwn8pHwELwwfrJGuqx3TQcGQbYmBdTBz-PC86EZuU/edit?usp=sharing).

Once at least 2 native speakers have reviewed the translation proposed in the shared document, we will open a PR.

@vborghe and @francopestilli have volunteered so far, but we will keep updated the list of contributors.

[2021-02-23 13:07] josepman opened #43 "Translating glossary into SPANISH"
Hola mundo!

Link to the doc: https://docs.google.com/document/d/1d0t7QhE5YH6eTrBhaHgU6HRynoFfElntMJLw_jjIUcc/edit#

In the doc you will find a 'how to proceed' and the list of contributors.
Once at least 2 native speakers have reviewed the translation proposed in the shared document, we will open a PR.

Gracias!

[2021-02-23 13:37] i-am-mel-dev opened #44 "Translating glossary into TURKISH"
Merhaba!

Link to the doc: https://docs.google.com/document/d/1G21Bf9tjGP1EkipSKk99Mgy9rJ6CAkdgZJC-_zIlVfE/edit?usp=sharing

In the doc you will find a 'how to proceed' and the list of contributors.
Once at least 2 native speakers have reviewed the translation proposed in the shared document, we will open a PR.

[2021-02-23 14:40] vborghe commented on #42
Reminder: keep an eye on #41 and #40 as they contain changes to the EN version.

[2021-02-23 14:40] vborghe commented on #43
Reminder: keep an eye on #41 and #40 as they contain changes to the EN version.

[2021-02-23 14:40] vborghe commented on #44
Reminder: keep an eye on #41 and #40 as they contain changes to the EN version.

[2021-02-23 15:54] htwangtw commented on #39
Thanks @willstrawson
I would recommend having a look at some of the discussion we had in some PRs #40
Also [this page](https://jupyterbook.org/content/citations.html) in the jupyter book documentation.

[2021-02-24 06:39] likeajumprope opened #45 "Translating glossary into GERMAN"
Wunderschoenen guten Tag!

Link to the doc: https://docs.google.com/document/d/1a5iPxehQGXqvt76ThyM2KZNLvwzhIgRCsW_16MjNieQ/edit?usp=sharing

In the doc you will find a 'how to proceed' and the list of contributors.
Once at least 2 native speakers have reviewed the translation proposed in the shared document, we will open a PR.

[2021-02-24 07:39] vogelbac commented on #45
I will help and will also ask for help here in Marburg.

[2021-02-24 12:01] Remi-Gau commented on #1
@complexbrains I think you should open a PR with the content of the hackmd you linked to.

I would even be tempted to merge right away as is.

It would give us a starting point from which to iterate.

Then we could thing of how to divide this content in between a README (what is this project?) and into CONTRIBUTING (with a section on what to contribute, how to contribute, how to run locally) where

[2021-02-24 14:44] anibalsolon commented on #1
+1 to add a `requirements.txt`

[2021-02-24 14:48] complexbrains commented on #1
Perfect! I am on it then.

I will also add some bits and pieces to requirements and create an MD for it too and make my PR then! Thank you all!

[2021-02-24 15:18] complexbrains commented on #1
Go for it then @htwangtw  I was pulling it from my own book so will go with yours then 🤗

[2021-02-24 15:21] htwangtw commented on #1
Done and done!

[2021-02-24 15:48] llevitis opened #47 "Translating glossary into Russian"
## Details

Привет!
Link to the doc - https://docs.google.com/document/d/1l8GiMrq8hq90QSrS53XlVL1-goDUUMG4jo-hIL5KKEE/edit?usp=sharing

## Collaborators

- [x] I read and understood the project description.
- [x] I read and understood the workflow for the translation work.

## And suggestions/ideas

- [ ] Translation completed
- [ ] Proofread
- [ ] Request reviews
- [ ] Address reviews
- [ ] Merge

[2021-02-24 15:54] anibalsolon opened #48 "Translating glossary into Portuguese"
## Details

https://docs.google.com/document/d/1ixBT93dm-EMqrH51xF3XLcWeguu2QYMi9VNOfQaETxo/edit

## Collaborators

- [x] I read and understood the project description.
- [x] I read and understood the workflow for the translation work.
- [ ]  I read and understood the community guidelines for inclusive language.

## And suggestions/ideas

- [ ] Translation completed
- [ ] Proofread
- [ ] Request r

[2021-03-04 11:20] htwangtw opened #56 "Issue template for PR"
Since we are dealing with a lot of spreadsheets, and their conversion to Markdown files, it might be useful to have a PR template that points out some of these things:
- update acknowledgement: `data/acknowledgment.csv`
- update existing author's social media link: `data/affiliation_and_consent_for_the_brainhack_neuroview_preprint_raw.tsv`

thoughts?

[2021-03-10 00:36] #1 closed

[2021-03-10 00:36] #2 closed

[2021-03-15 19:03] Remi-Gau opened #63 "Add a README in the data folder"
**Describe the bug**

Technically not a bug unless that in 6 months from now, figuring out what tsv is what will be a Big Unpleasant Grind... So this is a potential BUG to to be.

[2021-03-16 23:29] htwangtw opened #64 "The Brainbox website insecure lead to test failed"
The Jupyter Book test fails because the Brainbox website is insecure on 16th of March, locally and on GitHub action (see PR #61).
This is likely an external issue as book deployment a week ago was fine and I did not change any related code in that part.
And the test _did_ pass, see: https://github.com/brainhackorg/brainhack_jupyter_book/runs/2071881691#step:5:62

We might want to consider deployin

[2021-03-17 03:54] anibalsolon commented on #64
The exception is fine.

[2021-03-17 08:40] katjaq commented on #64
👀  Thank you @anibalsolon
Was there some more information? Did you see what is insecure @htwangtw @anibalsolon ? (BrainBox runs on https, so it would be nice to know more. Thank you both very much :)

[2021-03-17 08:47] htwangtw commented on #64
@katjaq the error code is `SEC_ERROR_EXPIRED_CERTIFICATE`

[code]

![image](https://user-images.githubusercontent.com/13743617/111439389-3c36bc00-86fd-11eb-8c75-a69e35bf48a8.png)
I hit the jackpot :tada:

[2021-03-17 08:53] katjaq commented on #64
ha! Thank you! Yeees, we have to renew the certificate every now and then (which became much more frequent recently... 🙈) So – yeyy, you were the first to find!! :D Pinging @r03ert0  😊 oopsi!

Thank you @htwangtw ! should be good in a second :)

[2021-03-17 09:08] katjaq commented on #64
fixed \\\ö// certificate renewed, should not throw error anymore even without exception :D

(but to be on the safe side, you could maybe leave the exception ? 🙈 – knowing us, we are often reminded once the certificate is expired 😬 we usually catch this within a few hours (as we use our tools on almost daily basis or collaborators ping us) but if folks were to compile the jupy book within this very

[2021-03-17 09:12] htwangtw commented on #64
Totally agree we should make it an exception. I will look into how to do so tomorrow, if no one fix this before me :wink:

[2021-03-22 21:51] #56 closed

[2021-03-23 11:11] htwangtw opened #67 "Cleaner contributor table"
It would be a good idea to collapse some information in the contributor table.
I have done some part of it but they are not implemented in the current version because it was a hacked solution using the OSF raw data.
Since the submission is done and we have a cleaner/curated version, we can think about how to make it more presentable in the jupyter book.

Things that are more obvious:
- One column

[2021-04-15 06:28] Remi-Gau opened #69 "Changes to be made on the proof"
- make sure that the consortium authorship has been sorted appropriately
- affiliations are probably going to be a headache

## Name changes

- [x]  "Visconti di Oleggio Castello" and not "Visconti di Oleggio"

## Figure

- [x] upload new figure

From Daniel M.

[2021-04-15 09:07] htwangtw commented on #69
Name change and resorting to the order is going to be easy. I can do that later today.
For the affiliation, we might just need a lot of people to proofread it, unless we can just pass `data/contributors/neuroview/manscript_affiliation.tsv` to the copy editors and instruction for author arrange...

[2021-04-16 16:23] htwangtw commented on #3
We have a guideline now - let's consider this one is closed. Still, advice is welcome!

[2021-04-16 16:23] #3 closed

[2021-04-16 16:25] htwangtw commented on #63
Closed by #61

[2021-04-16 16:25] #63 closed

[2021-04-22 09:25] htwangtw commented on #69
Visconti di Oleggio Castello - name is corrected now, see #70

[2021-04-22 22:49] mvdoc commented on #69
- thanks for fixing my last name
- I fixed two rows on the google spreadsheet with the affiliations `s/Berkley/Berkeley` (sneaky `e`)
- the in-text citation for Cameron's paper reads `Cameron Craddock et al., 2006` instead of `Craddock et al., 2006`
- the in-text braindr's website could be probably changed to https://braindr.us (instead of https://braindr.us/#/)
- on page 6, the brackets around th

[2021-04-23 00:06] PeerHerholz commented on #69
The affiliation for @emdupre (line 118), @koudyk (line 241), @jbpoline (line 105), and myself (line 171) was updated in the spreadsheet.

[2021-04-23 00:21] yeoyeo02 commented on #69
I have updated my name on the spreadsheet. First name should be "B.T. Thomas". Thomas should not be in the middle, else it typically get abbreviated to just "T" in the final article. My apologies for the inconvenience.

[2021-04-23 06:12] likeajumprope commented on #69
I have updated my affiliation in the spread sheet to "Centre for Youth Mental Health" and added my middle initials "M.M."
I am #94 Johanna Bayer

[2021-04-23 08:47] htwangtw commented on #69
Thank you all @PeerHerholz @mvdoc @likeajumprope @yeoyeo02!!!
Much appriciated!!

[2021-04-23 10:50] Remi-Gau commented on #69
- [ ]  add grant declaration

[2021-04-23 11:57] katjaq commented on #69
Thank you so much all!
I updated affiliation order of katja heuer (if that causes trouble, happy to change it back)
and i updated affiliation of katja, roberto toro, and nicolas traut --> ("University of Paris" is now the name for what was once 2 different universities before merge)

and I added our grant information to the second spreadsheet :)

Thank you <3 🚀

[2021-04-23 16:41] SWideman opened #71 "Minor cosmetic errors in NeuroView proof copy as of 20210423 11am CDT"
Six instances of "Figure xxxxx" color inconsistency (e.g., "Figures 1A and 1B" on Page 1, where "Figures 1" portion is in blue and "A and 1B" are in black)

This variation occurs on Pages 1, 3, 5, 6 (2 instances) and 7.

All can be found by searching for the term "Figure", ignoring obvious cases where the problem does not appear.
![image](https://user-images.githubusercontent.com/83085297/11590310

[2021-04-23 16:59] SWideman commented on #69
Sorry, just added new Issue 71 instead of updating this one.
(Six minor cosmetic errors detailed there).

**Great job**, everyone!  Thanks for the opportunity, hard work and above all - active participation!

[2021-04-24 09:53] schw4b commented on #69
Thank's everyone for this large collaborative effort! Was a pleasure the read the proofs, looking great!

[2021-04-26 11:56] htwangtw commented on #64
This issue also happens with OSF links sometimes - will think about how to adapt that in the test.

[2021-04-26 15:13] Remi-Gau commented on #69
@mvdoc
That's actually how it is referenced in pubmed so I won't change it.
https://pubmed.ncbi.nlm.nih.gov/27042293/

[2021-04-26 16:29] Remi-Gau commented on #69
There was an extra acronym in Roberto's affiliation. Removed it in the google spreadsheet. Pinging @htwangtw just to let you know.
This is not urgent as the affiliation of the core members have to changed manually in the proofs anyway.

[2021-04-26 16:44] Remi-Gau commented on #69
I am actually going to keep them as we have a brackets within brackets situation . :-)

[2021-04-26 16:51] Remi-Gau commented on #69
@mvdoc I wonder if this was not done in order to avoid the reference count.

But actually would it not make sense to point to the Neuromatch academy preprint, rather than the Point for neuromatch ?

https://arxiv.org/abs/2012.08973

@SNeuroble

[2021-04-26 17:05] Remi-Gau commented on #71
I actually think that I am going to keep it as is: the reason is that if you have a whole hyperlink for `Figure1C` then it could imply that the hyperlink is to that subfigure where as it is only to the whole figure. This mix of color might seem weird but just reflects the fact that we can only hyperlink to only the global figure and not sub panels.

[2021-04-26 17:05] #71 closed

[2021-04-26 17:33] SWideman commented on #71
Understood, thanks for the explanation.  It does look a little weird, but
your reasoning for accuracy makes sense.

I'd have probably colored it all blue and *still* linked to the whole
figure.  The reader can easily focus on the specific section they're
looking for without doing a 'visual stutter' when they see the coloring
difference on the hyperlink (like I did).

Just a preference, but you're

[2021-04-26 18:11] Remi-Gau commented on #69
all boxesare ticked. closing

[2021-04-26 18:20] SNeuroble commented on #69
I know this is closed but just for the record:
Yup, this was chosen to be a link instead of citation to meet our reference limit (several other papers are referenced in this way in the manuscript).
And yes, the preprint makes more sense than the Point.
So the plan is to update the link—thanks for pointing this out @mvdoc!

[2021-05-01 15:22] Remi-Gau opened #74 "Setting up Conda environment fails on windows"
Setting up Conda environment fails on windows

**To Reproduce**

Run

[code]

**Screenshots**

[code]

**Desktop (please complete the following information):**
 - Windows 10

[2021-05-06 17:06] htwangtw opened #75 "Jupyter book 0.11.0 update broke the build"
[code]
Seems like they introduced some new format.
We can either
1. Lock the version of dependencies
2. Update the file

[2021-05-17 09:17] #75 closed

[2021-06-12 07:37] htwangtw commented on #69
I will mark this issue as closed as we all know the paper is there! :100:

[2021-06-12 07:37] #69 closed

[2021-06-12 07:41] htwangtw commented on #32
Still looking for help as the text in the book is still not up-to-date!

[2021-06-13 15:03] vborghe commented on #42
@grg-m will you proceed with the PR related to this? You did most of the work and should get al the credits 🙏

[2021-06-13 20:42] htwangtw commented on #42
Git allow the committee and the author being separated people, multiple authors and co authors
Some relevant links here:
https://docs.github.com/en/github/committing-changes-to-your-project/creating-and-editing-commits/creating-a-commit-with-multiple-authors
https://stackoverflow.com/questions/3042437/how-to-change-the-commit-author-for-one-specific-commit

[2021-06-13 21:04] vborghe commented on #42
Thanks 🙏  but I still think that the contributions would be best represented by @Grg-M PR-ing, me revising 😉

[2021-06-14 12:23] Grg-M commented on #42
@vborghe Sure and thanks for the credits :) Can you add me as contributor with @neurogima account, that is the neuroscience one, instead of Grg-M?

[2021-06-17 11:29] htwangtw opened #80 "Admin: drop number of reviewer from 3 to 2"
@likeajumprope and I had a chat and was wondering if it would be a good idea to drop the number of reviews need from 3 to 2.

From past experience, PRs get staggered by waiting for reviewers. The jupyterbook PR doesn't always require super technical code review. I am not sure who has the admin right to change this. Would love to hear what people think.

Tag people that might have more power than m

[2021-06-17 11:34] likeajumprope opened #81 "Shorten Contributing Guidelines by introducing subsections that can be collapsed"
**Is your feature request related to a problem? Please describe.**
The Contributing Guidelines are very long.

**Describe the solution you'd like**
Divide the contributing guidelines into subsections that can be collapsed., as seen here: https://github.com/htwangtw/depersonalisation

**Describe alternatives you've considered**
Alternatively, we could improve the structure of the Contributing Guide

[2021-06-17 12:54] jhlegarreta commented on #80
Switching to 2 sounds reasonable to me.

[2021-06-17 13:51] jhlegarreta commented on #81
Particularly, I find the git/repository cloning related instructions (e.g. how to set the upstream remote, pulling changes) something that, even if useful, is required in virtually any git-based project. So I would shorten those passages.

Same applies to the paragraphs about creating a virtual environment: we could just mention that a virtual env is the preferred options to install the dependenci

[2021-06-17 14:59] shawnrhoads commented on #80
Also sounds fine to me!

If we still want some additional cushion before merging, I think we can also require "[status checks](https://docs.github.com/en/rest/reference/repos#statuses)" to pass before merging.

[2021-06-17 15:15] htwangtw commented on #80
Right now we have some very basic check on if the links are alive. If there's more checks people wants to add that would be great!

[2021-06-17 15:47] SamGuay commented on #80
I am all fine with 2 reviewers as well!

[2021-06-17 15:50] SamGuay commented on #80
I didn't know I had such power for this repo. I have set the numbers of reviews to 2 and required the "status checks".

[2021-06-17 15:53] htwangtw commented on #80
Finally I know who is our overlord

[2021-06-17 17:52] #80 closed

[2021-06-18 09:38] htwangtw commented on #81
I am in favour of a collapsable section over simplifying the instructions with link to the official doc. After interacting with some people at Brainhack, the new people who approached me mostly need detailed guidance on set-up. It would be useful to have all info in one place to point people to.

Talking about set-up, we still need some help to have some instruction working for windows, see #74

[2021-09-20 17:23] Remi-Gau opened #86 "database of Brainhack projects"
If at one point we need to start compiling this list, this twitter thread is a good starting point.

https://twitter.com/cassgvp/status/1439242344788803591

[2021-10-06 14:24] htwangtw opened #87 "Create a short version of brainhack starter kit"

[2021-10-15 14:25] htwangtw commented on #87
cc @complexbrains @smoia @eurunuela
Let's see if this is a good list and I can start a drafted PR

[2021-10-15 14:28] htwangtw commented on #87
Optional material to link in the page: https://github.com/brainhackorg/bhg-event-materials

[2021-12-07 02:18] dsrishyla opened #89 "Translating to Hindi"
This is a translation of the Brainhack glossary to Hindi. Google doc: https://docs.google.com/document/d/1fvfhH8TVaNzgt75hRXTjlmC_bDtuljTNuNFpvSaqaUw/edit#heading=h.ehdq0jmm79em

We suggest using bullets (indicated by * or -) and filled checkboxes [x] here  -->

- [ ] Translation completed
- [ ] Proofread
- [ ] Request reviews
- [ ] Address reviews
- [ ] Merge to the main branch

[2022-01-27 16:32] Remi-Gau opened #90 "`brainhack-timeline.csv` data refactoring"
The `brainhack-timeline.csv` is filled with redundancies.

It should be refactored.

- [x] extract sites (cities, country, continent, coordinates) into a separate spreadsheet
- [ ] plotting code should be adapted accordingly

[2022-09-05 13:25] Remi-Gau opened #92 "FIX book deploy"
seems to be unhappy at the moment

https://github.com/brainhackorg/brainhack_jupyter_book/actions/runs/2993370558

[2022-09-05 17:52] Remi-Gau commented on #92
fixed by #93

[2022-09-05 17:52] #92 closed

[2022-09-25 10:07] Remi-Gau commented on #86
list of projects for hackathon2017 are here:

https://github.com/ohbm/hackathon2017/wiki

[2022-09-25 10:08] Remi-Gau commented on #86
list of projects for ohbm 2018 are here:

https://github.com/ohbm/hackathon2018/wiki/Projects

[2022-09-25 13:37] Remi-Gau opened #99 "False positive dead links in CI"
Getting some dead links that are not in CI

https://github.com/brainhackorg/brainhack_jupyter_book/actions/runs/3121926867/jobs/5063545754

link seems valid: https://fnndsc.childrens.harvard.edu/brainhack2019/

[code]

[2022-09-25 13:41] Remi-Gau opened #100 "Have separate CI workflow for testing the book"
The book could be build and deployed even if some links are flagged as dead.

[2022-10-04 11:46] Remi-Gau opened #102 "add info about brainhack warsaw"
https://brainhackwarsaw.github.io/

https://github.com/brainhackwarsaw
https://github.com/brainhackwarsaw2017
https://github.com/brainhackwarsaw2019
https://github.com/BrainhackWarsaw2020

[2022-11-02 09:03] #100 closed

[2022-11-02 09:24] #99 closed

[2022-11-02 09:24] #64 closed

[2022-11-22 10:04] Remi-Gau opened #107 "Make list of events website and github repo"
For all brainhack events, try to identify if they still have a website and a dedicated repository.

If the event has a list of projects on the website but no obvious repo or a repo we do not have "access" to, create a repo create repository for it.

[2022-11-22 10:07] Remi-Gau opened #108 "Create a template repo with project template and issue auto labellers"

[2022-11-22 10:09] Remi-Gau opened #109 "Create one issue per project for past brainhack events"
|brainhack event|repo|done|
|-|-|-|
| | |[ ]|

[2022-11-28 14:53] Remi-Gau commented on #107
Lot of info was already there: [# Data for generating acknowledgments on Jupyter Book](https://docs.google.com/spreadsheets/d/121FUOXP9zE5lv7UhKR80RuCflQlpczwkxFB_rA1Pk_g/edit?usp=sharing)

Transferring this spreadsheet in an `data/archive`

[2022-11-28 15:45] Remi-Gau commented on #108
Done
see https://github.com/brainhackorg/template_repo_for_projects_labelling

[2022-11-28 17:01] Remi-Gau opened #111 "Cross check issue labels of events"
Some events have non standardized issue formats for their projects and the automatic labeler may give some false positive.

Listing here the repos whose project issue labelling have to be checked:

- [ ] OHBM hackathon2019: https://github.com/ohbm/hackathon2019/issues

[2022-11-28 19:48] Remi-Gau opened #112 "Link to zenodo"
Not sure who can set this up but it would be good to link this repo to Zenodo, so that any release is backed up on Zenodo.

@complexbrains
@ccraddock

[2022-11-28 19:55] Remi-Gau opened #113 "Move as much contributors info into standardized format"
Our contributors info are in freestyle .csv which makes any "validation" hard or impossible.

As much of that data should be moved to standardized format:
-  citation.cff
-  all contributors
-  tributors

[2022-11-28 21:05] complexbrains commented on #112
I somehow cannot remember if we already had a space at zenodo but in [Zotero ](https://www.zotero.org/groups/2586146/brainhack_neuroview) for sure. I wonder if I can help with that at all?

[2022-11-29 10:22] #67 closed

[2022-11-29 10:22] #113 closed

[2022-11-30 15:31] #86 closed

[2022-11-30 15:31] #107 closed

[2022-11-30 23:45] pbellec opened #117 "move contributors to the neuroview section"
**Is your feature request related to a problem? Please describe.**
The current contributors table disproportionately talks about the neuroview project.

**Describe the solution you'd like**
A minimal: move this table under the neuroview section. It describes the contributions to the neuroview paper, not the contributions to the brainhack organization.

**Describe alternatives you've considered**
A